body {
      color: #000;
      font-size: 14px;
      line-height: 1.4;
      font-family: 'Open Sans', sans-serif;
      background-color: #000;
      background-size: cover;
}

*{margin:auto;}

#wrapper{
  width: 100%;
  overflow: auto;
  background: #000;


}

#header{

  width: 100%;
  height: 600px;
  background: url("images/header_bg.jpg");
  background-size: cover;

}

#header h1 {
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 320px;

}

#header p{

	font-size: 24px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin-top: 150px;
	font-weight: 600;
  color:white;
}

#getit{

	width: 160px;
	height: 35px;
	background: #f9e42e;
	border-radius: 3px 3px 3px 3px;
	margin-top: 110px;
}

#getit a{

	font-size: 15px;
	font-weight: 800;
	color: #033048;
	margin-left: 40px;
	float: left;
	font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
	text-decoration: none;

}

#container{

	width: 100%;
	height: 500px;
	background: #f0efef;
}

#container h1{
  font-size: 25px;
  font-weight: 600;
  float: left;
  color: #033048;
  margin-top: 80px;
  margin-left: 80px;

}

#container p{

	margin-left: 80px;
	font-size: 18px;
	color: #606161;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;

}

#container ul{

	margin-left: 120px;
	color: #606161;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

#section{
  width: 100%;
  height: 300px;
  background: url("images/testimonial_bg.jpg");
  background-size: cover;

}

#sec1{

	width: 400px;
	height: 200px;
	background: transparent;
	margin-top: 90px;
	float: left;
	margin-left: 550px;
}

#sec1 p{

	color: #f0efef;
	float: center;
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;


}

#sec1 h1{

	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 600;

}

#signup{

	width: 100%;
	height: 80px;
	background: #f9e42e;
}

#sign{

	width: 180px;
	height: 40px;
	background: #033048;
	top: 25%;
	border-radius: 3px 3px 3px 3px;
	margin: 0 auto;
	position: relative;
}

#sign a{

	text-decoration: none;
	font-size: 14px;
	color: #f0efef;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin-left: 50px;
	margin-top: 10px;

}

#footer{

	width: 300px;
	height: 200px;
	background: transparent;
}

#footer h1{

	text-align: center;
	top: 15%;
	font-size: 24px;
	font-weight: 800;
	margin: 0 auto;
	color: #f9e42e;
			position: relative;
}

#icon{

	width: 95px;
	height: 50px;
	background: transparent;
	margin-top: 30px;

}

#icon img{

	margin-left: 10px;
}

#footer p{

	color: white;
	text-align: center;
	margin-top: 30px;
	font-size: 9px;
	font-weight: 600;
}
